.DS_Store
node_modules
public
.tmp
.idea
.log
dist
npm-debug.log
.nyc_output
coverage
cassettes
data.json
*.gem
*.rbc
.bundle
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache
.env

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
storage
redis.conf
dump
"node_modules"

# IDE
.vscode
